/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

# Host demo binaries
host-demos/*/metal-cube
host-demos/*/vkcube_native

alpine-overlay.qcow2
alpine-overlay.qcow2.*

alpine-efivars.fd

alpine-venus-working-20260120.img
alpine-venus.img
alpine-venus.working.64kblob.img
scripts/alpine-virt-16k.img

# Ignore large disk images but not pc-bios firmware
/*.img
scripts/*.img
!pc-bios/*.img

.git-rewrite
